.initial-page {
    width: 100%;
    height: 60vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

.initial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-p1{
    font-size: 24px;
    margin: 0;
    margin-top: 32px;
    font-weight: 500;
}

.initial-p2{
    font-size: 14px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 24px;
}

.input-btn-div{
    display: flex;
    gap: 5px;
}

.input-btn-div input{
    font-size: 18px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.34);
}

.input-btn-div input:focus{
    outline: 3px solid rgba(0, 80, 255, 0.74);
}

.input-btn-div button{
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: rgba(0, 80, 255, 0.74);
    transition: background-color 0.3s ease-in-out;
}

.input-btn-div button:hover{
    background-color: rgba(57, 120, 255, 0.74);
    cursor: pointer;
}